/* From Esri Demos */
html, body, #map {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 16px;
}


#container {
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
}


#map {
  z-index: 1;
}

#menu {
    position: absolute;
    z-index: 10;
    right: 10px;
    top: 10px;
}

#leftmenu {
    position: absolute;
    z-index: 10;
    left: 10px;
    bottom: 40px;
    display: none;
}

.dropdown-menu {
    z-index:10;
    position:relative;

}

#documents {
    position: absolute;
    z-index: 10;
    left: 10px;
    bottom: 10px;
}
